.wrapper_board{
    display: inline-block;
    width: 100%;
    padding: 24px;
    h4{
        font-weight: normal;
        color: #666;
    }
    .board_body{
        width: 100%;
        .board_body-filter{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            .filter_users-item{
                transition: all 0.2s linear;
                cursor: pointer;
                padding: 1px;
                border: 3px solid transparent;
                img{
                    border-radius: 99px;
                }
                &.active{
                    background-color: white;
                    border-color: blue;
                }
                &:hover{
                    transform: translateY(-10%);
                }
            }
            .filter_select{
                button.active{
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
        }
        .board_body-list{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4,calc(25% - 10px));
            grid-gap: 10px;
        }
    }
}