.wrapper_homePage{
    width: 100%;
    height: 100%;
    display: flex;
    .homePage_siderBar{
        width: fit-content;
        height: 100vh;
        padding: 15px;
        border-right: 1px solid #999;
        display: flex;
        flex-direction: column;
        .homePage_siderBar-listBtn{
            width: 100%;
            height: 100%;
            padding: 15px;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .siderBar_listBtn-item:last-child{
                margin-top: auto;
            }
        }
    }
    .homePage_body{
        width: 100%;
        height: 100%;
        padding: 15px;
        overflow: auto;
        .homePage_body-listPJ{
            width: 100%;
            max-height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0;
            flex-wrap: wrap;
            list-style: none;
            .homePage_listPJ-item{
                display: flex;
                width: 33.333%;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                padding: 10px;
                border: 1px solid #999;
                cursor: pointer;
                p{
                    margin: 0;
                    font-weight: bold;
                    display: block;
                    font-size: 17px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    span{
                        font-weight: normal;
                        font-size: 10px;
                        color: #999;
                        text-transform: capitalize;
                    }
                }
                &:hover{
                    background-color: #9999;
                }
                .item_info{
                    width: 90%;
                    .item_info-desc{
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    a{
                        display: inline-block;
                        max-width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

.overlay_loading{
    display: flex;
    width: 100%;
    height: 100vh;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .wrapper_homePage{
        .homePage_siderBar{
            padding: 15px 10px;
            .homePage_siderBar-listBtn{
                padding: 15px 10px;
            }
        }
        .homePage_body{
            .homePage_body-listPJ{
                .homePage_listPJ-item{
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 620px) {
    .wrapper_homePage{
        .homePage_body{
            .homePage_body-listPJ{
                .homePage_listPJ-item{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .wrapper_homePage{
        .homePage_siderBar{
            .homePage_siderBar-listBtn{
                padding: 15px 0;
            }
        }
        .homePage_body{
            h1{
                font-size: 25px;
            }
            .homePage_body-listPJ{
                .homePage_listPJ-item{
                    width: 100%;
                }
            }
        }
    }
}