.wrapper_list{
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: rgba(197, 197, 197, 0.247);
    border-radius: 2px;
    .list_header{
        color: #999;
    }
    .list_box{
        display: flex;
        min-height: 100px;
        height: 100%;
        flex-direction: column;
        // gap: 5px;    
        list-style: none;
        transition: all 0.2s linear;
        user-select: none;
        .list_box-item{
            width: 100%;
            background-color: white;
            padding: 5px;
            margin-top: 5px;
            border-radius: 2px;
            cursor: pointer;
            user-select: none;
            border: 2px solid transparent;
            &:hover{
                background-color: rgba(190, 190, 190, 0.6);
            }
            &.expried{
                animation: blingWaring 1.5s linear infinite;
            }
            .list_box-item--info{
                width: 100%;
                display: flex;
                align-items: flex-end;
                gap: 5px;
                span:last-child{
                    margin-left: auto;
                }
            }
        }
    }
}

@keyframes blingWaring {
    0%{
        border-color: rgb(255, 212, 212);
    }50%{
        border-color: rgba(255, 0, 0, 0.8);
    }
    100%{
        border-color: rgb(253, 183, 183);
    }
}