@import 'antd/dist/antd.css';
@import 'react-quill/dist/quill.snow.css';


.App {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-wrap: nowrap;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.quillHidden .ql-toolbar{
  display: none;
}

.quillHidden .ql-container{
  border-color: transparent;
}